// Babel이 JavaScript 코드를 컴파일할 때 어떤 변환을 수행해야 하는지를 정의합니다
{
    "presets": ["@babel/preset-env"]//@babel/preset-env는 최신 JavaScript 문법을 구형 브라우저에서도 동작하도록 변환하는 데 필요한 모든 플러그인을 포함합니다.
    //"presets": ["@babel/preset-env", "@babel/preset-react"] //js to react
    //"presets": ["@babel/preset-env", "@babel/preset-typescript"] //js to ts
  }
  